<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>
      Detalles del usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="center">
    <ion-card *ngIf="!loading">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      
      <ion-card-header>
        <ion-card-title>{{user.name}}</ion-card-title>

        <ion-card-subtitle>{{user.username}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>
            <h3>{{user.email}}</h3>
          </ion-label>

          <ion-icon name="mail" slot="end"></ion-icon>
        </ion-item>
    
        <ion-item>
          <ion-label>
            <h3>{{user.phone}}</h3>
          </ion-label>

          <ion-icon name="call" slot="end"></ion-icon>
        </ion-item>
    
        <ion-item>
          <ion-label>
            <h3>{{user.website}}</h3>
          </ion-label>
          
          <ion-icon name="globe" slot="end"></ion-icon>
        </ion-item>

      </ion-card-content>

    </ion-card>

    <div class="center" *ngIf="loading">
      <ion-label>
        Cargando...
      </ion-label>
    </div>

  </div>
</ion-content>
