<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Usuarios
    </ion-list-header>

    <div class="users-container" *ngIf="!loading">
      <ion-item button detail="true" [routerLink]="['/user', user.id]" *ngFor="let user of users">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h3>{{user.name}}</h3>
          <p>{{user.username}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-label *ngIf="loading" class="center">
    Cargando...
  </ion-label>
</ion-content>
